body {
    background-color: rgb(206, 233, 227);
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h3,
h2 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#refreshBtn {
    display: none;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}
#refresh{
  text-align: center;

}
#userChoices{
    padding-top: 15px;
}
#gameOver{
        padding-top: 20px;

}
